{% extends "base.html" %}

{% block content %}
<h1>Lista Contactos</h1>
<div class="row">
{% for instancia in object_list %}
  <div class="col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href='{{ instancia.get_absolute_url }}'>{{instancia.Nombre}} {{instancia.Apellido}}</a></h3>
        <p>
            {{instancia.Documento}}
            {{instancia.EMail}}
            {{instancia.Telefono}}
            {{instancia.FNacimiento}}
            {{instancia.id}}
        </p>
        <p>
            <a href="{{ instancia.get_url_detalle }}" class="btn btn-primary" role="button">Ver Contacto</a>
        </p>
      </div>

    </div>

  </div>

    {% cycle "" "</div><div class='row'>"%}
{% endfor %}
<div>

     <a href="{{ instancia.get_url_crear }}" class="btn btn-primary" role="button">Crear Contacto</a>

</div>
</div>




{% endblock content %}




