{% extends "base.html" %}

{% block head_title %}
{{ instancia.title }} {{ block.super }}
{% endblock head_title %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">

<h1>{{ instancia.Nombre }} </h1> <h3>{{instancia.Apellido}}</h3>

{{instancia.Documento}}<br/>
{{instancia.EMail}}<br/>
{{instancia.Telefono}}<br/>
{{instancia.FNacimiento}}<br/>

     <a href="{{ instancia.get_url_edita }}" class="btn btn-primary" role="button">Modificar Contacto</a>

     <a href="{{ instancia.get_url_borrar }}" class="btn btn-primary" role="button">Borrar Contacto</a>
     <br><br>
     <a href="{{ instancia.get_url_lista }}" class="btn btn-primary" role="button">Volver</a>

</div>
{% endblock %}