{% extends "base.html" %}

{% block content %}
<h1>Lista Profesionales</h1>
<div class="row">
{% for obj in object_list %}
  <div class="col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href='{{ obj.get_url_detalle }}'>{{obj.Nombre}} {{obj.Apellido}}</a></h3>
        <p>
            {{obj.Matricula}}
            {{obj.Especialidad}}
        </p>
        <p>
            <a href="{{ obj.get_url_detalle }}" class="btn btn-primary" role="button">Ver Profesional</a>
        </p>
      </div>
    </div>
  </div>

    {% cycle "" "</div><div class='row'>"%}
{% endfor %}
</div>
<a href="/profesionales/crear/" class="btn btn-primary" role="button">Crear Profesional</a>
<a href="/contactos" class="btn btn-primary" role="button">Ver Contactos</a>

{% endblock content %}