{% extends "base.html" %}

{% block head_title %}
{{ instance.title }} {{ block.super }}
{% endblock head_title %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">

<h1>{{ instancia.Nombre }} </h1> <h3>{{instancia.Apellido}}</h3>

Documento: {{instancia.Documento}}<br/>
Email: {{instancia.EMail}}<br/>
Telefono: {{instancia.Telefono}}<br/>
Fecha Nacimiento: {{instancia.FNacimiento}}<br/>


     <a href="{{ instancia.get_url_edita }}" class="btn btn-primary" role="button">Modificar Profesional</a>

     <a href="{{ instancia.get_url_borrar }}" class="btn btn-primary" role="button">Borrar Profesional</a>
     <br><br>
     <a href="/profesionales" class="btn btn-primary" role="button">Volver</a>


</div>
{% endblock %}

